html {
  line-height: 1.5;
}

body {
  background-color: #c9b5ab;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

a {
  color: #8f2440;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

nav ol {
  list-style-type: none;
}

figure {
  text-align: center;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 1rem;
}

p, ol, dl {
  font-family: "PT Serif", serif;
  font-size: 1rem;
  list-style-type: lower-greek;
}

.germination {
  font-weight: bold;
}

blockquote p {
  font-size: 1.5rem;
  font-style: italic;
}

blockquote strong {
  font-weight: normal;
}

blockquote footer {
  font-size: .8rem;
}

dt {
  font-weight: bold;
}

dt:first-child {
  font-weight: normal;
  font-style: italic;
  float: left;
}

dd:first-child {
  float: left;
  position: relative;
}

dd::before {
  content: " ";
  white-space: pre;
}

data[value="100"]::after {
  content: " ";
  display: block;
  white-space: pre;
}

[value="100"] {
  font-style: italic;
}

ul {
  list-style-type: circle;
  font-size: .8rem;
}

footer p {
  font-size: .8rem;
}

footer a {
  font-size: .8rem;
  font-family: "PT Serif", serif;
  font-weight: normal;
}

a:hover {
  text-decoration: underline;
  color: #222;
}
